 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    
    width: 100%;
    min-height: 100vh;
    background: #f8f8f8;
}
header{
    height: 60px;
    width: 100%;
    background: #060606;
    color: #fff;
    display: flex;
    align-items: center;
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font: weight 550px; ;
}
.logo{
    font-size: 24px;
}
.hero{
    
background-position: 0cqi;
    width: 100%;
    height: auto;
    background: url(https://c1.wallpaperflare.com/preview/513/870/409/cook-healthy-food-eat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff; 
    text-align: center;
padding: 140px 0;
    
}
.hero h2{
    font-size:36 px;
    margin-bottom: 10px;
}
.hero p{
    font-size:20 px;
    margin-bottom: 10px;
}
.search-box{
    max-width: 550;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.int{
    width: 30%;
    padding: 7px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 15px;
    border: 1px solid rgba(216, 6, 6, 0.753);
}
.but{

    padding: 6px 12px;
    outline: none;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    background: rgba(253, 3, 7, 0.934);
    color: #fff;
    cursor: pointer;
}


.recipes{
    padding:50px 0;
}
.recipes h2{
    text-align:center ;
    margin-bottom:30px;
    font: size 20px; ;
}





/* Container setup */
.recipes {
  padding: 40px 20px;
  background: #f9f9f9;
  text-align: center;
}

.recipes h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.recipe-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.recipe-card {
  background: #fff;
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.recipe-card:hover {
  transform: scale(1.03);
}

.recipe-card img {
  width: 100%;
  height: 160px;
  object-fit: cover; 
}

.recipe-card h2 {
  font-size: 1.2rem;
  margin: 10px;
}

.recipe-card p {
  font-size: 0.9rem;
  padding: 0 10px 10px;
  flex-grow: 1;
  text-align: left;
  color: #555;
}

.recipe-card a {
  margin: 15px;
  padding: 8px 12px;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.recipe-card a:hover {
  background-color: #060404;
}


@media (max-width: 600px) {
  .recipe-section {
    flex-direction: column;
    align-items: center;
  }
}

